@{
    ViewBag.Title = "Главная";
}


@if (User.Identity.IsAuthenticated)
{
    <div>
        @if (Roles.IsUserInRole("admin"))
        {
            <div class="welcome_message">
                Здравствуйте, @ViewBag.UserName!
            </div>
            <div class="welcome_message">
                В разделе "Выкройки" Вы можете протестировать работу системы. Выберите фасон изделия, введите параметры и проверьте построение выкройки.
            </div>
            <div class="welcome_message">
                В разделе "Личный кабинет" Вы можете изменить каталоги платных и бесплатных выкроек, а также стоимость подписки на веб-приложение.
                </div> }
            else
            {
                <div class="welcome_message">
                    Здравствуйте, @ViewBag.UserName!
                </div>
                <div class="welcome_message">
                    В разделе "Выкройки" Вы можете посмотреть доступные Вам фасоны изделий. Выберите понравившийся и получите выкройку,
                    построенную по индивидуальным параметрам!
                </div>
                <div class="welcome_message">
                    В разделе "Личный кабинет" Вы можете изменить ваши персональные данные и индивидуальные параметры, а также управлять аккаунтом.
                </div>
            }
    </div>
}
else
{
    <div>
        <div class="welcome_message">Приветствуем в автоматизированной системе построения выкроек!</div>
        <div class="welcome_message">
            В разделе "Выкройки" Вы можете посмотреть доступные Вам фасоны изделий. Выберите понравившийся и получите выкройку,
            построенную по индивидуальным параметрам!
        </div>
        <div class="welcome_message">
            Зарегистрируйтесь в системе и получите больше выкроек!
        </div>
    </div>
}
